
<header class="main-header">
    <!-- Logo -->
    <img src="/content/images/logo.png" />
 
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">导航</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
               
                <!-- /.messages-menu -->
                <!-- Notifications Menu -->
               
                <!-- Tasks Menu -->
               
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
            <ul class="nav navbar-nav">
                <li class="user user-menu">
                    <a href="#">
                        <img src="/content/images/avatar.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">钟汉良</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="设置" data-toggle="tooltip"><i class="fa fa-cogs"></i></a>
                </li>
                <li>
                    <a href="#" title="退出" data-toggle="tooltip"><i class="fa fa-sign-out"></i></a>
                </li>
            </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>