<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <accordion [closeOthers]="true">
            <accordion-group heading='个人面板' [isOpen]="false" [isDisabled]="false" class="navboard">
                <li>
                    <a routerLink="/home/dashboard"><i class="fa fa-user"></i> <span>个人面板</span></a>
                </li>
            </accordion-group>

            <accordion-group heading='人事管理' [isOpen]="false" [isDisabled]="false" class="navHR">
                <ul class="treeview-menu">
                    <li><a routerLink="/home/hr">员工档案</a></li>
                    <li><a routerLink="/home/hr">办理入职</a></li>
                    
                </ul>
            </accordion-group>
        </accordion>

    </section>
    <!-- /.sidebar -->
</aside>