<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->
    <div class="col-md-4">
        <h3>任务</h3>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <span class="badge">7</span> 我的任务
            </a>
            <a href="#" class="list-group-item">
                <span class="badge">15</span> 我发起的活动
            </a>
            <a href="#" class="list-group-item">
                <span class="badge">34</span> 我参与的活动
            </a>
        </div>

    </div>
    <div class="col-md-4">
        <h3>公告</h3>
        <div class="list-group">
            <a href="#" class="list-group-item"> 
                新入职员工开通指尖的事项
                <span class="glyphicon glyphicon-chevron-right" style="float:right;"></span>
                </a>
            <a href="#" class="list-group-item">8月份关单记录再次刷新！
                <span class="glyphicon glyphicon-chevron-right" style="float:right;"></span>                
            </a>
            <a href="#" class="list-group-item">宜人家新版本上线
                <span class="glyphicon glyphicon-chevron-right" style="float:right;"></span>                
            </a>
            <a href="#" class="list-group-item">8月9日罗马假日酒店成功举行活动
                <span class="glyphicon glyphicon-chevron-right" style="float:right;"></span>
                
            </a>
        </div>
    </div>
</section>
<!-- /.content -->