<div class="col-md-2">
    <employee-profile [employee]="employee"></employee-profile>
</div>
<!-- /.col -->
<div class="col-md-8">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>语种</th>
                <th>水平</th>
                <th>是否有证书</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let language of employee.Languages">
                <td>{{language.Name}}</td>
                <td>{{language.Level}}</td>
                <td>
                    <span *ngIf="language.HasCertificate" class="label label-success">是</span>
                    <span *ngIf="!language.HasCertificate" class="label label-danger">否</span>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<!-- /.col -->