<!-- /.col -->
<div class="col-md-10">
    <div class="box box-success">
        <div class="box-body">
            <table class="form-table">
                <caption>培训信息 <br /> Training Information</caption>
                <tr>
                    <th>起止时间</th>
                    <th>培训机构</th>
                    <th>所获职称/证书</th>
                </tr>
                <tr *ngFor="let traning of employee.Trainings">
                    <td>{{traning.StartTime | date:'y-MM-dd'}} — {{traning.EndTime | date:'y-MM-dd'}}</td>
                    <td>{{training.Institution}}</td>
                    <td>{{training.Result}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- /.col -->