<div class="col-md-2">
    <employee-profile [employee]="employee"></employee-profile>
</div>
<!-- /.col -->
<div class="col-md-8">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>起止时间</th>
                <th>培训机构</th>
                <th>所获职称/证书</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let training of employee.Trainings">
                <td>{{training.StartTime | date:'y-MM-dd'}} — {{training.EndTime | date:'y-MM-dd'}}</td>
                <td>{{training.Institution}}</td>
                <td>{{training.Result}}</td>
            </tr>
        </tbody>
    </table>

</div>
<!-- /.col -->