<div class="col-md-10">
    <div class="box box-success">
        <div class="box-body">
            <table class="form-table">
                <caption>基本信息 <br /> Personal Information</caption>
                <tr>
                    <td class="title">中文名<br /> Chinese Name
                    </td>
                    <td>周子濠</td>
                    <td class="title">英文名<br /> English Name
                    </td>
                    <td>William</td>
                    <td class="title">性别<br /> Gender
                    </td>
                    <td>男</td>
                    <td class="title">证件类型<br />ID Type</td>
                    <td>身份证</td>
                    <td class="title">证件号码<br />ID Number</td>
                    <td>1234567894654321</td>
                </tr>
                <tr>
                    <td class="title">出生日期<br />Birthday</td>
                    <td>1986年1月12日</td>
                    <td class="title">民族<br />Race</td>
                    <td>汉</td>
                    <td class="title">婚姻状况<br />Marrial Status</td>
                    <td>已婚</td>
                    <td class="title">户口性质<br />Recidence Type</td>
                    <td>外埠城镇</td>
                    <td class="title">政治面貌<br />Political Landscape</td>
                    <td>一般群众</td>
                </tr>
                <tr>
                    <td class="title">最高学历<br />Education</td>
                    <td>硕士</td>
                    <td class="title" colspan="3">首次参加工作时间<br />Date of working</td>
                    <td>2011年3月8日</td>
                    <td class="title" colspan="3">是否拥有国外永久居留权（绿卡）<br />Greed Card
                    </td>
                    <td>否</td>
                </tr>
                <tr>
                    <td class="title">手机<br />Mobile</td>
                    <td>15011052050</td>
                    <td class="title">私人邮箱<br />Personal Email</td>
                    <td colspan="7">zihao.zhou@sina.com</td>
                </tr>
                <tr>
                    <td class="title">户口居住地<br />Recidence Address</td>
                    <td colspan="7">xxx省xxx市xxxxxxxxxxxxxxxxxxxx街道xxx派出所</td>
                    <td class="title">邮编<br />Postal Code</td>
                    <td>123456</td>
                </tr>
                <tr>
                    <td class="title">现居住地<br />Now Address</td>
                    <td colspan="7">xxx省xxx市xxxxxxxxxxxxxxxxxxxx街道xxx派出所</td>
                    <td class="title">邮编<br />Postal Code</td>
                    <td>123456</td>
                </tr>
                <tr>
                    <td class="title">招聘渠道<br />Recruiting Channel</td>
                    <td>报刊广告</td>
                    <td class="title" colspan="3">是否有亲属目前在宜信工作</td>
                    <td colspan="6">是，姓名：江泽，部门：市场部，岗位：市场专员</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- /.col -->