<!-- /.col -->
<div class="col-md-10">
    <div class="box box-success">
        <div class="box-body">
            <table class="form-table">
                <caption>学历信息 <br /> Education Information</caption>
                <tr>
                    <th>起止时间</th>
                    <th>学校名称</th>
                    <th>所学专业</th>
                    <th>学历/学位</th>
                </tr>
                <tr *ngFor="let edu of employee.Educations">
                    <td>{{edu.StartTime | date:'y-MM-dd'}} — {{edu.EndTime | date:'y-MM-dd'}} </td>
                    <td>{{edu.SchoolName}}</td>
                    <td>{{edu.Specialty}}</td>
                    <td>{{edu.Education}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- /.col -->