<div class="col-md-2">
    <employee-profile [employee]="employee"></employee-profile>
</div>

<!-- /.col -->
<div class="col-md-8">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>起止时间</th>
                <th>学校名称</th>
                <th>所学专业</th>
                <th>学历/学位 </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let edu of employee.Educations">
                    <td>{{edu.StartTime | date:'y-MM-dd'}} — {{edu.EndTime | date:'y-MM-dd'}} </td>
                    <td>{{edu.SchoolName}}</td>
                    <td>{{edu.Specialty}}</td>
                    <td>{{edu.Education}}</td>
                </tr>
        </tbody>
    </table>
</div>
<!-- /.col -->