<div class="col-md-2">
    <employee-profile [employee]="employee"></employee-profile>
</div>

<div class="col-md-8">
    <!--<div style="margin-top:-40px;height:40px;"><a routerLink="/home/hr/employees">返回到列表</a> </div>-->

    <div class="container employeeOverview">
        <div class="row">
            <div class="col-md-2"><span>中文名 : {{employee.ChineseName}}</span></div>
            <div class="col-md-2"><span>英文名 : {{employee.EnglishName}}</span></div>
            <div class="col-md-2"><span>性别 : {{employee.Gender}}</span></div>
            <div class="col-md-2"><span>民族 : {{employee.Race}}</span></div>
        </div>
        <div class="row">
            <div class="col-md-2"><span>婚姻状况 : {{employee.MarialStatus}} </span></div>
            <div class="col-md-2"><span>户口性质 : {{employee.RecidenceType}}</span></div>
            <div class="col-md-2"><span>政治面貌 : {{employee.PoliticalLandscape}}</span></div>
            <div class="col-md-2"><span>最高学历 : {{employee.Education}}</span></div>
        </div>
        <div class="row">
            <div class="col-md-4"><span>{{employee.IdType}} : {{employee.IdNumber}}</span></div>
            <div class="col-md-4"><span>出生日期 : {{employee.Birthday | date:'y年M月d日'}}</span></div>
        </div>
        <div class="row">
            <div class="col-md-4"><span>首次参加工作时间 : {{employee.DateOfWorking | date:'y年M月d日'}}</span></div>
            <div class="col-md-4">是否拥有国外永久居留权（绿卡） : {{employee.HasGreenCard ? '是' : '否'}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <span>手机 : {{employee.Mobile}}</span>
            </div>
            <div class="col-md-4"><span>私人邮箱 : {{employee.PersonalEmail}}</span></div>
        </div>
        <div class="row">
            <div class="col-md-8"><span>户口所在地 : {{employee.RecidenceLocation}} <span *ngIf="employee.RecidenceZipCode">({{employee.RecidenceZipCode}})</span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8"><span>现居住地 : {{employee.LivingLocation}} <span *ngIf="employee.LivingZipCode">({{employee.LivingZipCode}})</span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"><span>招聘渠道 : {{employee.RecruitingChannel}}</span></div>
            <div class="col-md-6"><span>是否有亲属目前在宜信工作 : {{employee.RelativeInYiXinInfo}}</span></div>
        </div>
    </div>

    <div>
        <button class="btn but-primary" (click)="edit()">编 辑</button>
    </div>
</div>
<!-- /.col -->