<!-- /.col -->
<div class="col-md-10">
    <div class="box box-success">
        <div class="box-body">
            <table class="form-table">
                <caption>培训信息 <br /> Training Information</caption>
                <tr>
                    <th>起止时间</th>
                    <th>培训机构</th>
                    <th>所获职称/证书</th>
                </tr>
                <tr>
                    <td>2013-3-5 — 3015-12-31</td>
                    <td>北大青鸟计算机培训</td>
                    <td>程序员证书</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- /.col -->