<!-- /.col -->
<div class="col-md-10">
    <div class="box box-success">
        <div class="box-body">
            <table class="form-table">
                <caption>工作经历 <br /> Working Experiences</caption>
                <tr>
                    <th>起止时间</th>
                    <th>公司名称</th>
                    <th>所属部门</th>
                    <th>岗位</th>
                    <th>证明人/电话</th>
                    <th>离职原因</th>
                </tr>
                <tr>
                    <td>2013-3-5 — 3015-12-31</td>
                    <td>xxxxxxxx股份有限公司</td>
                    <td>产品部</td>
                    <td>高级软件工程师</td>
                    <td>王小二/1581647436</td>
                    <td>个人</td>
                </tr>
                <tr>
                    <td>2013-3-5 — 3015-12-31</td>
                    <td>xxxxxxxx股份有限公司</td>
                    <td>产品部</td>
                    <td>高级软件工程师</td>
                    <td>王小二/1581647436</td>
                    <td>个人</td>
                </tr>
                <tr>
                    <td>2013-3-5 — 3015-12-31</td>
                    <td>xxxxxxxx股份有限公司</td>
                    <td>产品部</td>
                    <td>高级软件工程师</td>
                    <td>王小二/1581647436</td>
                    <td>个人</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- /.col -->