<!-- /.col -->
<div class="col-md-10">
    <div class="box box-success">
        <div class="box-body">
            <table class="form-table">
                <caption>学历信息 <br /> Education Information</caption>
                <tr>
                    <th>起止时间</th>
                    <th>学校名称</th>
                    <th>所学专业</th>
                    <th>学历/学位</th>
                </tr>
                <tr>
                    <td>2013-3-5 — 3015-12-31</td>
                    <td>吉林大学</td>
                    <td>计算机信息应用</td>
                    <td>本科</td>
                </tr>
                <tr>
                    <td>2013-3-5 — 3015-12-31</td>
                    <td>xxxxx学院</td>
                    <td>电工</td>
                    <td>专科</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- /.col -->