<!-- /.col -->
<div class="col-md-10">
    <div class="box box-success">
        <div class="box-body">
            <table class="form-table">
                <caption>紧急联系人 <br /> Emergency Linkman</caption>
                <tr>
                    <th>联系人</th>
                    <th>关系</th>
                    <th>电话</th>
                </tr>
                <tr>
                    <td>刘涛</td>
                    <td>母亲</td>
                    <td>18977846631</td>
                </tr>
                <tr>
                    <td>张晓山</td>
                    <td>父亲</td>
                    <td>15473112651</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- /.col -->