<div class="col-md-2">
    <employee-profile [employee]="employee"></employee-profile>
</div>
<!-- /.col -->
<div class="col-md-8">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>联系人</th>
                <th>关系</th>
                <th>电话</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of employee.EmergencyLinkmen">
                <td>{{contact.Name}}</td>
                <td>{{contact.Relationship}}</td>
                <td>{{contact.Tel}}</td>
            </tr>
        </tbody>
    </table>

</div>
<!-- /.col -->