<!-- /.col -->
<div class="col-md-10">
    <div class="box box-success">
        <div class="box-body">
            <table class="form-table">
                <caption>所学语种 <br /> Language
                </caption>
                <tr>
                    <th>语种</th>
                    <th>水平</th>
                    <th>是否有证书</th>
                </tr>
                <tr>
                    <td>英语</td>
                    <td>一般</td>
                    <td><span class="label label-danger">否</span></td>
                </tr>
                <tr>
                    <td>日语</td>
                    <td>良好</td>
                    <td><span class="label label-success">是</span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- /.col -->