
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        档案管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 面板</a></li>
        <li class="active">档案管理</li>
    </ol>
</section>
<!-- Main content -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <employee-profile></employee-profile>

        <router-outlet></router-outlet>

    </div>
    <!-- /.row -->
</section>
<!-- /.content -->