<div class="col-md-2">
    <!-- Profile Image -->
    <div class="box box-primary" *ngIf="!selectedEmployee">
        <div class="box-body">
            <img class="profile-user-img img-responsive" src="/content/Images/avatar_default.jpg" alt="User profile picture">

            <h5 class="text-center">
                请从右边选择一个需要管理的员工
            </h5>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->

    <!-- Profile Image -->
    <div class="box box-primary" *ngIf="selectedEmployee">
        <div class="box-body">
            <img class="profile-user-img img-responsive" src="../Images/樱木花道.jpg" alt="周子濠">

            <h3 class="profile-username text-center"><strong>周子濠</strong></h3>

            <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                    <b>邮箱</b> <a class="pull-right">zihao.zhou@goodhopevisa.com</a>


                </li>
                <li class="list-group-item">
                    <b>手机号</b> <a class="pull-right">15011052050</a>
                </li>
                <li class="list-group-item">
                    <b>职务</b> <a class="pull-right">软件工程师</a>
                </li>
                <li class="list-group-item">
                    <b>部门</b> <a class="pull-right">IT部</a>
                </li>
                <li class="list-group-item">
                    <b>直属领导</b> <a class="pull-right">傅冰</a>
                </li>
            </ul>

            <a href="#" class="btn btn-primary btn-block"><i class="fa fa-pencil"></i> <b>编辑</b></a>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <div class="box box-warning" *ngIf="selectedEmployee">
        <div class="box-body">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a routerLink="overview">基本信息</a></li>
                <li><a routerLink="education">学历信息</a></li>
                <li><a routerLink="workExperience">工作经历</a></li>
                <li><a routerLink="training">培训经历</a></li>
                <li><a routerLink="contract">紧急联系人</a></li>
                <li><a routerLink="skills">语种</a></li>
            </ul>
        </div>
    </div>
</div>